* {
  padding: 0;margin: 0;box-sizing: border-box;
}
.boxes {
  width: 80%;
  background-color: #f80;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
/* .box {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 31%;
  border: 1px solid #f28;
  margin: 1%;
  text-align: center;
  padding: 1rem;
} */
.filters {
  width: 300px;
  background-color: #BADA55;
  margin: auto;
  padding: 1rem;
}
.btn {
  width: 60px;
  height: 30px;
}

.active {
  display: none;
}